<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="http://upcdn.b0.upaiyun.com/libs/jquery/jquery-2.0.2.min.js">
    </script>
    <script>
        $(document).ready(function(){
            $("#delete").click(function(){
                $.ajax({
                    url:"__CONTROLLER__/delete",
                    data:{
                        table:"admin",
                        user:$.trim($("#user").text())
                    },
                    datatype:"JSON",
                    type:"POST",
                    success:function(result){
                        $("#show").html(result);
                    }

                })
            })
        })
    </script>
</head>
<body>

<table>
    <tr>
        <td>管理员账号</td>
        <td>密码</td>
    </tr>
    <volist name="data" id="v">
        <tr>
            <td id="user">{$v.user}</td>
            <td id="password">{$v.password}</td>
            <td id="update">修改</td>
            <td id="delete">删除</td>
        </tr>
    </volist>
</table>


</body>
</html>