<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="http://upcdn.b0.upaiyun.com/libs/jquery/jquery-2.0.2.min.js"></script>
    <script>
        function change(id) {
            $.ajax({
                url:"__CONTROLLER__/change",
                data:{
                    id:id
                },
                type:"POST",
                datatype:"JSON",
                success:function (result) {
                    $("#show").html(result);
                }
            })
        }
    </script>
</head>
<body>
<table>
    <tr>
        <td>姓名</td>
        <td>电话号码</td>
        <td>身份证号码</td>
        <td>预定的房间号</td>
        <td>入住日期</td>
        <td>离开日期</td>
    </tr>
    <volist name="data" id="v">
        <tr>
            <td>{$v.name}</td>
            <td>{$v.phone}</td>
            <td>{$v.user_number}</td>
            <td>{$v.book_room}</td>
            <td>{$v.in_date}</td>
            <td>{$v.out_date}</td>
            <td><button onclick="change({$v.id})">确认结账，修改房间信息</button> </td>
        </tr>
    </volist>
    <tr>
        <td>顾客支付费用</td>
    </tr>
    <volist name="data2" id="v">
        <tr>
            <td>
                {$v.price}
            </td>
        </tr>
    </volist>
</table>



</body>
</html>